.innerContent:hover {
  transform: scale(1.07);
}

.innerContent {
  transition: transform 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 30px;
  padding: 10px 5px;
  border-radius: 10px;
  width: 200px;
  margin: 10px 0;
  color: white;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  position: relative;
}
.hoverState {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  cursor: pointer;
}

.hoverContent {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.hInnerText {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

.innerContent:hover .hoverState {
  opacity: 1;
}

.coinsLogo {
  width: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.coinsName {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}

.cHeading {
  font-size: 25px;
  font-weight: 700;
  background-color: #000000;
  color: rgb(248, 248, 248);
  text-align: center;
  padding: 15px 0;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .innerContent:hover {
  transform: scale(1.01);
}
  .coinsHolder {
    height: 100%;
    margin-bottom: 70px;
  }
  .innerContent {
    padding: 20px 20px;
    width: 160px;
    height: 75px;
    border-radius: 5px;
    margin: 5px 0;
  }

  .coinsLogo {
    width: 25px;
    margin-top: 5px;
    margin-bottom: 3px;
  }
  .coinsName {
    font-size: 15px;
    font-weight: 700;
  }
  .cHeading {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding: 15px 0;
    text-transform: uppercase;
  }
}
