.caurosals {
  padding: 0;
  margin: 0;
}

.list-holder {
  width: 100%;
  height: 25vh;
  padding: 0 2px;
  border: none;
}
.banner {
  width: 100%;
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
}

.slick-prev {
  left: 3% !important;
  z-index: 1;
  font-size: 50px;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}

@media screen and (min-width: 1020px) {
  .list-holder {
    width: 100%;
    height: 70vh;
    padding: 0px 5px;
    border-radius: 5px;
  }
}
